<div
  [style.display]="notification ? 'block' : 'none'"
  class="fixed top-32 right-4 left-4 md:left-auto z-[99999] w-auto md:max-w-md shadow-lg rounded-md border"
  [ngClass]="{
    'bg-green-50 border-green-400': notification?.type === 'success',
    'bg-red-100 border-red-400': notification?.type === 'error',
  }"
>
  <div class="p-4 flex items-start">
    <div class="flex-shrink-0">
      <!-- Success Icon -->
      <svg
        *ngIf="notification?.type === 'success'"
        class="h-5 w-5 text-green-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <!-- Error Icon -->
      <svg
        *ngIf="notification?.type === 'error'"
        class="h-5 w-5 text-red-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
    <div class="ml-3 flex-1 min-w-0">
      <p
        class="text-sm font-medium break-words"
        [ngClass]="{
          'text-green-800': notification?.type === 'success',
          'text-red-700': notification?.type === 'error',
        }"
      >
        {{ notification?.message }}
      </p>
    </div>
    <div class="ml-4 flex-shrink-0">
      <button
        (click)="close()"
        class="inline-flex rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2"
        [ngClass]="{
          'text-green-400 hover:text-green-500 focus:ring-green-500':
            notification?.type === 'success',
          'text-red-400 hover:text-red-500 focus:ring-red-500': notification?.type === 'error',
        }"
      >
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
